form{
    text-align:left;
    font-size:25px;
  }
  #formStuff{
      width:50%;
      margin-left:24%;
      border: solid #e74c3c 2px;
      border-radius:10px;
      padding:1%;
  }

#submit-form{
    width:60px;
    height:40px;
    background-color: transparent;
    border:solid #e74c3c 2px;
    color:#e74c3c;
}
  
footer {
    text-align: center;
    padding-bottom: 3em;
    width:50%;
    margin-left:24%;
    padding:1%;
    border: solid #e74c3c 2px;
  }
  
  #icons{
    text-align:center;
    font-size: 25px;
  }
  .fa{
    padding:1%;
    height:5%;
    color:white;
    width:10%;
    text-decoration: none;
    border: solid 2px transparent;
  }
  .fa-facebook {
    background: #3b5998;
  }
  .fa-linkedin {
    background: #0077B5;
  }
  .fa-instagram {
    background: #515BD4;
  }