
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Dosis');
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400);

html {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  background: #ffffff;
  font-size: 14px;
}

body {
  font-size: 1rem;
  line-height: 1.5em;
  @media ( min-width: 768px ) {
    font-size: 1.2rem;
  }
}

.purp{
  color:#9b59b6;
}
.orn{
  color:#e67e22;
}
.green{
  color:#1abc9c;
}
.blu{
  color:#3498db;
}
.red{
  color:#e74c3c;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.432);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-open{ height: 100%; }

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #ffaaaa;
  text-transform: uppercase;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #ccc;
}

.open-close-btn {
  position: absolute;
  top: 40px;
  right: 40px;
text-decoration: none;
z-index:10;
}

@media screen and (max-height: 450px) {
.overlay {overflow-y: auto;}
.overlay a {font-size: 20px}
}


/* Hamburger Icon */
#hamburger-icon{
display: block;
width: 50px;
height: 39px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
cursor: pointer;
}


#hamburger-icon span {
display: block;
position: absolute;
height: 7px;
width: 100%;
background: rgb(122, 119, 119);
border-radius: 3px;
opacity: 1;
left: 0;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
-webkit-transition: .25s ease-in-out;
-moz-transition: .25s ease-in-out;
-o-transition: .25s ease-in-out;
transition: .25s ease-in-out;
}


/* Hamburger Lines  */

#hamburger-icon span:nth-child(1) {
top: 0px;
}

#hamburger-icon span:nth-child(2), #hamburger-icon span:nth-child(3) {
top: 16px;
}

#hamburger-icon span:nth-child(4) {
top: 32px;
}

#hamburger-icon.hamburger-open span{background:#fff}

#hamburger-icon.hamburger-open span:nth-child(1) {
top: 18px;
width: 0%;
left: 50%;
}

#hamburger-icon.hamburger-open span:nth-child(2) {
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-o-transform: rotate(45deg);
transform: rotate(45deg);
}

#hamburger-icon.hamburger-open span:nth-child(3) {
-webkit-transform: rotate(-45deg);
-moz-transform: rotate(-45deg);
-o-transform: rotate(-45deg);
transform: rotate(-45deg);
}

#hamburger-icon.hamburger-open span:nth-child(4) {
top: 18px;
width: 0%;
left: 50%;
}


.wrapper {
  display: flex;
flex-wrap: wrap;
  justify-content: center;
align-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
background-color: #fff;
}

p {
font-family: Arial, sans-serif;
font-size: 28px;
line-height: 1.5;
text-align: center;
flex-basis: 100%;
margin: 55px 0;
}

a {
display: block;
color: black;
text-decoration: none;
white-space: nowrap;
}

/* Cube Positioning */

.cube-wrapper {
perspective: 2000px;
}

.cube {
  position: relative;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  transform: rotateX(-20deg) rotateY(-80deg);
margin: 75px 50px 80px;
}

.cube-face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cube-front {
  transform: translateZ(100px);
}

.cube-back {
  transform: rotateY(180deg) translateZ(100px);
}

.cube-bottom {
  transform: rotateX(-90deg) translateZ(100px);
}

.cube-top {
  transform: rotateX(90deg) translateZ(100px);
}

.cube-left {
  transform: rotateY(-90deg) translateZ(100px);
}

.cube-right {
  transform: rotateY(90deg) translateZ(100px);
}

.blue-cube .cube-face{
  background-color: #3498db;
  border:solid #44a8eb 2px;
}

.green-cube .cube-face{
  background-color: #1abc9c;
  border:solid #2accac 2px;
}

.orange-cube .cube-face{
  background-color: #e74c3c;
  border:solid #f75c4c 2px;
}

.purp-cube .cube-face{
  background-color: #9b59b6;
  border:solid #ab69c6 2px;
}


footer {
  text-align: center;
  padding-bottom: 6em;
  
  a {
    color: #ff0066;
    padding: 0.3em 1.4em;
    background-color: #fff;
    text-decoration: none;
  }
}


#icons{
  text-align:center;
  font-size: 40px;
}
.fa{
  padding:1%;
  height:5%;
  color:white;
  width:30%;
  text-decoration: none;
}
.fa-facebook {
  background: #3b5998;
}
.fa-linkedin {
  background: #0077B5;
}
.fa-instagram {
  background: #515BD4;
}
