
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Muli|Righteous&display=swap');

html {
  background: #ffffff;
  font-size: 14px;
  color:#555555;
}

.purp{
  color:#9b59b6;
}
.orn{
  color:#e67e22;
}
.green{
  color:#1abc9c;
}
.blu{
  color:#3498db;
}
.red{
  color:#e74c3c;
}


body {
  margin: 0;
  font-size: 1rem;
}

article{
  position:relative;
  width:90%;
  margin-left:5%;
}

article div{
  position:absolute;
}


.menu-content {
  max-height: 0;
  overflow: hidden;
  padding:0px;
}
.collapsible-menu {
  background-color: rgb(255, 255, 255);
  padding: 0px 30px;
}
.collapsible-menu label {
  display: block;
  cursor: pointer;
  font-size: 45px;
  min-height:45px;
  background: url(/images/cube-icon.png) no-repeat left center;
  padding: 10px 0 10px 50px;
}
#menu{
  position:fixed;
  top:15px;
  left:15px;
}
input#menu {
  display: none;
}
input:checked +label {
  background-image: url(/images/X-icon.png);
}
input:checked ~ .menu-content {
  max-height: 100%;
}


.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
}


p {
	font-family: 'Muli', sans-serif;
	font-size: 40px;
  text-align: center;
  font-size: 24px;
  line-height: 1.5;
  text-align: center;
  flex-basis: 100%;
  margin: 55px 0;
}

a {
	color: black;
	text-decoration: none;
	white-space: nowrap;
}

h2{
    font-family: 'Bebas Neue', cursive;
    font-size: 45px;
    margin: 25px 0px;
}
h3{
   font-family: 'Righteous', cursive; 
   font-size: 30px;
}
h1{
  font-family: 'Righteous', cursive; 
  font-size: 40px;
}

/* Cube Positioning */
.triangle {
  width: 200px;
  height: 200px;
  margin: 20px 80px 0px 0px;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateX(-20deg) rotateY(-40deg);
}
.tri-face{
  position: absolute;
  height: 0;
  width: 0;
  border-width: 0 100px 173px;
  border-style: solid;
  border-color: transparent;
}
.tri-side {
  width: 180px;
  position: absolute;
  background:transparent;
  text-align: center;
  border:solid #3498db 2px;
  height: 199px;
}
.tri-face .backtrilabel{
  transform: translateY(50px) translateX(45px) rotateY(180deg);
}
.tri-face .fronttrilabel{
  transform: translateY(50px) translateX(-45px);
}
.tri-front{
  transform:translateZ(89px);
}
.tri-back{
  transform:translateZ(-89px);
}
.tri-side:nth-child(1) {
  transform: rotateY(-90deg) rotateX(-90deg) translateY(9px) translateZ(70px); /*Bottom*/
}
.tri-side:nth-child(2) {
  transform: rotateY(-90deg ) rotateX(30deg) translateY(8px) translateZ(45px); /*bottom left*/
}
.tri-side:nth-child(3) {
  transform: rotateY(-90deg ) rotateX(150deg) translateY(-15px) translateZ(58px); /*top left*/
}


/*CUBE PROPERTIES*/
.cube {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 30px 80px 0px 0px;
    transform-style: preserve-3d;
    transform: rotateX(-20deg) rotateY(-40deg);
}
.cube p{
    margin: 60px 0;
}
.cube-face {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 90%;
    background-color: transparent;
    border:solid #1abc9c 2px;
}
.cube-front {
    transform: translateZ(90px);
}
.cube-back {
    transform: rotateY(180deg) translateZ(90px);
}
.cube-bottom {
    transform: rotateX(-90deg) translateZ(90px);
}
.cube-top {
    transform: rotateX(90deg) translateZ(90px);
}
.cube-left {
    transform: rotateY(-90deg) translateZ(90px);
}
.cube-right {
    transform: rotateY(90deg) translateZ(90px);
}


/*PENTAGON PROPERTIES*/

.pentagon {
  width: 200px;
  height: 200px;
  margin: auto;
  position: relative;
  margin: 70px 80px 0px 0px;
  transform-style: preserve-3d;
  transform: rotateX(-20deg) rotateY(-40deg);
}
.pent-face {
  position: absolute;
  text-align:center;
  width: 130px;
  box-sizing: content-box;
  border-width: 0 40px 124px;
  border-style: solid;
  border-color: transparent;
}
.pent-face:after {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  top: 164px;
  left: -40px;
  border-width: 77px 104px 0;
  border-style: solid;
  border-color: transparent;
}
.pent-side {
  width: 180px;
  position: absolute;
  background-color: transparent;
  text-align: center;
  border:solid #9b59b6 2px;
  height: 120px;
  padding: 4px 0;
}
.pent-face .backpentlabel{
  transform:translateY(70px) rotateY(180deg);
}
.pent-face .frontpentlabel{
  transform:translateY(70px);
  
}
.pent-front{
  transform:translateZ(90px) translateX(-14px) translateY(-64px);
}
.pent-back{
  transform:translateZ(-90px) translateX(-14px) translateY(-64px);
}
.pent-side:nth-child(1) {
  transform: rotateZ(90deg) rotateY(-90deg) translateZ(90px);
}
.pent-side:nth-child(2) {
  transform: rotateY(-90deg ) rotateX(18deg) translateZ(90px); /*bottom left*/
}
.pent-side:nth-child(3) {
  transform: rotateY(-90deg ) rotateX(-54deg) translateZ(90px); /*top left*/
}
.pent-side:nth-child(4) {
  transform: rotateY(-90deg) rotateX(-126deg) translateZ(90px); /*top right*/
}
.pent-side:nth-child(5) {
  transform: rotateY(-90deg) rotateX(162deg) translateZ(90px); /*bottom right*/
}



/*HEXAGON PROPERTIES*/
.hexagon {
  width: 200px;
  height: 200px;
  margin: auto;
  position: relative;
  margin: -40px 80px 0px 0px;
  transform-style: preserve-3d;
  transform: rotateX(-20deg) rotateY(-40deg) translateY(-200px);
}
 .hex-face {
      width: 180px;
      height: 100px;
      background: transparent;
      position: relative;
    }
.hex-face:before {
      content: "";
      position: absolute;
      top: -50px;
      left: 0;
      width: 0;
      height: 0;
      border-left: 92px solid transparent;
      border-right: 90px solid transparent;
      border-bottom: 50px solid transparent;
    }
.hex-face:after {
      content: "";
      position: absolute;
      bottom: -50px;
      left: 0;
      width: 0;
      height: 0;
      border-left: 90px solid transparent;
      border-right: 90px solid transparent;
      border-top: 50px solid transparent;
    }
.hex-side {
  width: 180px;
  position: absolute;
  background-color: transparent;
  text-align: center;
  border:solid #e74c3c 2px;
  height: 100px;
}
.hex-face .backhexlabel{
  transform: translateY(45px) rotateY(180deg);
}
.hex-face .fronthexlabel{
  transform: translateY(45px);
}
.hex-front{
  transform: translateZ(90px) translateY(245px);
}
.hex-back{
  transform: translateZ(-90px) translateY(105px);
}
.hex-side:nth-child(1) {
  transform: rotateY(-90deg) translateZ(90px);
}
.hex-side:nth-child(2) {
  transform: rotateY(-90deg ) rotateX(60deg) translateZ(90px); /*bottom left*/
}
.hex-side:nth-child(3) {
  transform: rotateY(-90deg ) rotateX(120deg) translateZ(90px); /*top left*/
}
.hex-side:nth-child(4) {
  transform: rotateY(-90deg) rotateX(180deg) translateZ(90px); /*top right*/
}
.hex-side:nth-child(5) {
  transform: rotateY(-90deg) rotateX(-60deg) translateZ(90px); /*bottom right*/
}
.hex-side:nth-child(6) {
  transform: rotateY(-90deg) rotateX(-120deg) translateZ(90px); /*bottom right*/
}