
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body{
  font-family: 'Ubuntu', sans-serif;
}
h6{
  margin:10px;
}
.grid-container {
  display: grid;
  grid-template-columns:auto auto auto auto;
  grid-gap: 5px;
  width:100%;
 
}
.grid-container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  height:800px;
}
.item1 { 
  background-color:#f54040;
  color:black;
}
.item2{ 
 background-color: #f0c010;
  color:black;
}
.item3{ 
  background-color:#00a552;
  color:black;
}
.item4{ 
  background-color:#00a5a2;
  color:black;
}
/*
.item1:hover{
  opacity:.9;
}
.item2:hover{
  opacity:.9;
}
.item3:hover{
 opacity:.9;
}
.item4:hover{
  opacity:.9;
}*/
#section1{
  display:none;
  text-align:center;
  font-size:16px;
  padding:0 20px 20px 20px;
  margin:auto;
}
#intro{
  padding:0 20% 0 20%;
}
#section2{
  display:none;
  padding:0 20px 20px 20px;
  text-align:left;
  font-size:16px;
  margin:auto;
}
li{
  margin-left:5%;
  display:inline;
}
#section3{
  display:none;
  text-align:left;
  font-size:16px;
  padding:0 20px 20px 20px;
  margin:auto;
}
#section4{
  display:none;
  text-align:left;
  font-size:16px;
  padding:0 20px 20px 20px;
  margin:auto;
}

#icons{
  text-align:center;
  font-size: 40px;
  margin:auto;
}
.fa{
  padding:1%;
  height:5%;
  color:white;
  width:30%;
  text-decoration: none;
}
.fa-facebook {
  background: #3b5998;
}
.fa-linkedin {
  background: #0077B5;
}
.fa-instagram {
  background: #515BD4;
}
